body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 8pt;
    background-color: #111827;
}

#branding {
    background-color: #e5e7eb;
    padding: 4pt;
    font-weight: 100;
    border-radius: 4pt;
    margin: 0 auto;
    width: fit-content;
}

#msgdiv {
    position: fixed;
    left: 0;
}

input {
    padding: 8pt;
    border-radius: 12pt;
    outline: none;
    border: none;
    transition:width 1s ease-in-out;
}

input:hover {
    width: 50% !important;
}

#msgbox {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 45%;
    margin: 4pt;
}

#srvbox {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 45%;
    margin: 4pt;
}

*:focus {
    outline: none;
}

#tokenbox {
    display: none;
}